In [6]:
import pandas as pd


Path = "D:/Canada/Danial/UoW/Dataset/MovieLens/research_baseline/Movielens1m/ml-1m"

# Load the ratings data
rating_df = pd.read_csv(f'{Path}/u1.base', 
                        sep='\t', 
                        names=['user_id', 'movie_id', 'rating', 'timestamp'], 
                        encoding='latin-1')
rating_df.head()

   user_id  movie_id  rating  timestamp
0        1      3186       4  978300019
1        1      1721       4  978300055
2        1      1270       5  978300055
3        1      1836       5  978300172
4        1      3408       4  978300275

In [5]:

# Load the ratings data
rating_test_df = pd.read_csv(f'{Path}/u1.test', 
                        sep='\t', 
                        names=['user_id', 'movie_id', 'rating', 'timestamp'], 
                        encoding='latin-1')
rating_test_df.head()

   user_id  movie_id  rating  timestamp
0        1      1022       5  978300055
1        1      2340       3  978300103
2        1      1193       5  978300760
3        1      2018       4  978301777
4        1      1097       4  978301953